/* Gloabl Styles */

.vertical-line {
    border-left: 3px solid #dee2e6;
    height: 100%;
}

.timeline {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}
body {
    margin: 0;
    padding: 56px 0 0 0;
    font-family: Arial, sans-serif;
}

html,
body {
    overflow-x: hidden;
}

h1 {
    font-family: Poppins, sans-serif;
    color: #A45951;
}

.bg-one {
    background-color: white;
}

.bg-two {
    background-color: #fafafa;
}

/* Sticky navigation styles */
.sticky {
    position: sticky;
    top: 0;
    background-color: #f1f1f1;
    z-index: 100;
}

.navbar-toggler:focus {
    outline: none;
}

.navbar {
    @media (min-width: 768px) {
         margin: 0 60px;
    }
    
}

.navbar-brand {
    color: #A45951 !important;

    @media (min-width: 768px) {
        margin-left: 1rem;
    }
}

.navbar-brand:hover {
    color: black !important;
}

.nav-link {
    color: black !important;
}

.nav-link:hover {
    color: #A45951 !important;
}

#section2 .nav-tabs {
    border-bottom: none !important;
    display: flex !important;
    flex-wrap: nowrap !important;  
}

@media only screen and (min-width:1278px) {
    #section2 .nav-tabs {
        justify-content: center;
    }
}

#section3 .nav-tabs {
    border-bottom: none !important;
    display: flex !important;
    flex-wrap: nowrap !important;
    justify-content: center;
}        

.scrollNav {
    margin: 25px 0;
    scrollbar-width: none;
}

.scrollNav::-webkit-scrollbar {
    display: none;
}

.nav-tabs li {
    padding: 15px 25px 20px 25px;
    border-bottom: 3px solid #dee2e6;
}

.nav-tabs li:has(a.active) {
    border-bottom: solid #A45951 3px;
}

.nav-tabs a {
    color: #212529 !important;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    text-decoration: none;
}

.nav-tabs a:hover {
    text-decoration: none;
}

.nav-tabs .active {
    color: #A45951 !important;
}

/* Section 1 */

#section1 {
    height: 100vh;
}

#section1 h1 {
    padding-top: 20%;
    font-weight: 700;
    letter-spacing: -.025rem;
    font-family: Poppins, sans-serif;
    font-size: 3rem;
}

.highlight {
    display: inline-block;
    padding: .1em .25em;
    background: #F4A261;
    color: #ffffff;
    font-size: 2.6rem;
}

.bg-image {
    position: relative;
    display: flex;
    padding-bottom: 60px;
    justify-content: center;
    border: 1px none #000;
    background-color: #f5f7fa;
    background-image: linear-gradient(180deg, rgba(245, 247, 250, 0.8), rgba(245, 247, 250, 0.8)), url(images/mountains.jpg);
    background-position: 0px 0px, 0px 0px;
    background-size: auto, cover;
    background-repeat: repeat, repeat;
    background-attachment: scroll, fixed;
    text-align: center;
}


/* Section 2 */

.download {
    color: black !important;
}

.download:hover {
    color: black !important;
    text-decoration: none;
}

.position {
    color: #A45951;
    font-weight: 700;
}

.download:hover .fa {
    transform: translateY(2px);
}

#section2, #section4 {
    padding: 100px 0 100px 0;
}

#section2 .tab-content {
    border-radius: 5px;
    box-shadow: 2px 2px 11px -3px rgba(0, 0, 0, .2);
    background: white;
}

@media only screen and (min-width: 992px) {
    #section2 .tab-content {
        margin: 50px -15px 0 -15px;
    }
}

.tab-content .date {
    color: #A45951;
    text-align: center;
    margin-bottom: 0;
}

.tab-content .company {
    color: black;
    text-decoration: underline;
}

.tab-pane {
    padding: 20px;
}

.technologies {
    border: #A45951 solid 2px;
    margin: auto;
}

.technologies img {
    width: 95px;
    height: auto;
    padding: 10px 15px;
}

.small-padding {
    padding: 10px 20px !important;
}

/* Section 3 */

#section3 {
    padding: 100px 0 0 0;
}

.project {
    margin-bottom: 50px;
}

@media only screen and (min-width: 992px) {
    .project {
        margin-bottom: 80px;
    }
}

.description-box {
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    min-height: 350px;
    background-color: white;
}

@media only screen and (max-width: 992px) {
    .description-box {
        margin-top: 10px;
    }
}

.description {
    padding: 20px;
}

@media only screen and (min-width: 992px) {
    .description {
        padding: 40px;
    }
}

.description h6 {
    color: #A45951;
}

.portfolio-image img {
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    max-height: 300px;
}

#item3 img {
    width: 100%;
}

.portfolio-image-box {
    cursor: pointer;
}

.no-animation {
    cursor: auto;
}

@media only screen and (min-width: 992px) {
    .portfolio-image-box {
        margin-left: -45px !important;
        z-index: 100;
    }
}

.portfolio-image {
    border-radius: 5px;
    position: relative;
    box-shadow: 0 0px 2px rgba(0, 0, 0, 0.2);
    background-color: white;
    transition: transform .2s;
}

@media only screen and (min-width: 992px) {
    .portfolio-image {
        width: 115%;
        }
}

.no-animation {
    transition: none;
}

@media only screen and (max-width: 992px) {
    .portfolio-image {
        max-width: 500px;
        margin: auto;
    }
}

@media only screen and (min-width: 992px) {
    .portfolio-image:hover {
        transform: scale(1.05);
    }
}

.no-animation:hover {
    transform: none;
}

.portfolio-image:hover .image-overlay {
    opacity: 1;
}

.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 5px;
}

.read-more {
    color: white !important;
    font-size: 20px;
    font-weight: bold;
}

.read-more:hover {
    color: white !important;
}

.read-more-mobile a,
.read-more-mobile a:hover {
    color: black !important;
}

.languages {
    list-style-type: none;
    display: flex;
    padding-top: 17px;
    padding-left: 0;
}

.languages li {
    margin: 4px;
    background-color: #C1867B;
    padding: 1px 9px;
    border-radius: 7px;
}

.zoom {
    padding-bottom: 30px;
}

/* Footer */

.fab {
    font-size: 35px;
    padding: 0 10px;
    color: #000;
}

.footer .container {
    padding-top: 20px;
    padding-bottom: 20px;
}



.star {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #C1867B;
    transform: rotate(-45deg);
    clip-path: polygon(50% 0%,
                61% 35%,
                98% 35%,
                68% 57%,
                79% 91%,
                50% 70%,
                21% 91%,
                32% 57%,
                2% 35%,
                39% 35%);
}

@keyframes twinklingStars {
    0% {
        opacity: .5;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: .5;
    }
}

.star {
    /* Previous styles */
        /* Initially hide the stars */
    pointer-events: none;
        /* Disable pointer events to allow hover on hero background */
    animation: twinklingStars 2s infinite;
}

.scroll-icon {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    animation: bobbing 2s infinite;
}

.fa-arrow-down {
    color: #F4A261;
    font-size: 4rem !important;
}

.fa-external-link {
    margin-left: 7px;
    color: white;
}
.black.fa-external-link {
    margin-left: 1px;
    color: black;
}

@keyframes bobbing {
    0% {
        transform: translateX(-50%) translateY(0);
    }

    50% {
        transform: translateX(-50%) translateY(-10px);
    }

    100% {
        transform: translateX(-50%) translateY(0);
    }
}