/* Gloabl Styles */
@media only screen and (min-width: 992px) {
    .container-fluid {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

#see-more-btn {
    background-color: transparent;
    color: #fafafd;
    border: solid white 1px;
    padding: 10px 20px; 
    font-size: 1rem; 
    font-weight: bold; 
    border-radius: 5px; 
    cursor: pointer;
}

#see-more-btn:hover {
    background-color: #ecb98c; 
}

#download-btn {
    background-color: transparent;
    color: #fafafd;
    border: solid white 1px;
    padding: 10px 20px; 
    font-size: 1rem; 
    font-weight: bold; 
    border-radius: 5px; 
    cursor: pointer;
}

#download-btn:hover {
    background-color: #ecb98c; 
}

.view-more {
    text-align: center;
}

.vertical-line {
    border-left: 3px solid #dee2e6;
    height: 100%;
}

.timeline {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}
body {
    margin: 0;
    color: #fafafd !important;
    padding: 56px 0 0 0;
    font-family: Arial, sans-serif;
    background-color: #101018 !important;
}

html,
body {
    overflow-x: hidden;
}

h1 {
    font-family: Poppins, sans-serif;
    color: #0bc2ac;
    margin-bottom: 1.5rem !important;
}

h3 {
    font-family: Poppins, sans-serif;
}

.title {
    font-family: Poppins, sans-serif;
    color: #D4D4D4;
}

.bg-one {
    background-color: white;
}

.bg-two {
    background-color: rgb(16, 16, 24);
}

/* Sticky navigation styles */
.sticky {
    position: sticky;
    top: 0;
    background-color: #f1f1f1;
    z-index: 100;
}

.navbar-toggler:focus {
    outline: none;
}

@media only screen and (max-width: 768px) {
    .navbar-collapse {
        border-top: solid #dee2e6 1px;
        margin-top: 15px;
    }
}

@media only screen and (min-width: 992px) {
    .navbar {
        margin: 0 60px;
    }
}

.navbar-brand {
    color: #0bc2ac !important;
}

@media only screen and (min-width: 992px) {
    .navbar-brand {
        margin-left: 1rem;
    }
}

.navbar-brand:hover {
    color: #ecb98c !important;
}

@media only screen and (max-width: 768px) {
    .nav-item {
        border-bottom: #dee2e6 solid 1px;
        padding: 10px 0;
    }
}

.navbar {
    background:rgb(16, 16, 24);
    padding: 1rem !important;
}

.nav-link {
    color: #fafafd !important;
    font-size: 1.1rem;
    font-family: Poppins, sans-serif;
}

.nav-link:hover {
    color: #ecb98c !important;
}

/* Nav Tabs */

#section2 .nav-tabs {
    border-bottom: none !important;
    display: flex !important;
    flex-wrap: nowrap !important;  
}

@media only screen and (min-width:1278px) {
    #section2 .nav-tabs {
        justify-content: center;
    }
}

#section3 .nav-tabs {
    border-bottom: none !important;
    display: flex !important;
    flex-wrap: nowrap !important;
    justify-content: center;
}        

.scrollNav {
    margin: 25px 0;
    scrollbar-width: none;
}

.scrollNav::-webkit-scrollbar {
    display: none;
}

.nav-tabs li {
    padding: 15px 25px 20px 25px;
    border-bottom: 3px solid #dee2e6;
}

.nav-tabs li:has(a.active) {
    border-bottom: solid #ecb98c 3px;
}

.nav-tabs a {
    color: #fafafd !important;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    text-decoration: none;
}

.nav-tabs a:hover {
    text-decoration: none;
}

.nav-tabs .active {
    color: #ecb98c !important;
}

/* Hero -- Section 1 */

#section1 {
    height: 100vh;
}

#section1 h1 {
    padding-top: 10%;
    font-weight: 700;
    letter-spacing: -.025rem;
    font-family: Poppins, sans-serif;
    font-size: 2rem;
    line-height: 2.75rem;
    margin-right: 30px;
    padding-left: 15px;
}


@media only screen and (min-width: 767px) {
    #section1 h1 {
        font-size: 3rem;
        text-align: left;
        padding-top: 25%;
        line-height: 4rem;
    }
}

.fade-in-scroll {
    opacity: 0;
    transition: opacity 0.7s ease-in-out;
}

.fade-in-scroll.active-scroll {
    opacity: 1;
}

#fade-in-div {
    opacity: 0;
}

.fade-in-div {
    opacity: 0;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#fade-in-div {
    animation: fade-in 1.5s ease-in-out forwards;
}
.fade-in-div {
    animation: fade-in 1.5s ease-in-out forwards;
}

.highlight {
    display: inline-block;
    padding: .1em .25em;
    background: #0bc2ac;
    color: #101018;
    font-size: 1.8rem;
}

@media only screen and (min-width: 767px) {
    .highlight {
        font-size: 2.6rem;
    }
}

.hero {
    margin: 0 !important;
    padding: 0 !important;
    background: linear-gradient(to bottom, #101018 0%, #1b1b2d 50%, rgb(16, 16, 24) 100%);
}

.bigDipper {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #0bc2ac;
    transform: rotate(-45deg);
    clip-path: polygon(50% 0%,
            61% 35%,
            98% 35%,
            68% 57%,
            79% 91%,
            50% 70%,
            21% 91%,
            32% 57%,
            2% 35%,
            39% 35%);
}

.line {
    position: absolute;
    background-color: #a2b0ff4a;
    width: 2px;
    height: 2px; 
    z-index: 1;
}


.star {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #C1867B;
    transform: rotate(-45deg);
    clip-path: polygon(50% 0%,
            61% 35%,
            98% 35%,
            68% 57%,
            79% 91%,
            50% 70%,
            21% 91%,
            32% 57%,
            2% 35%,
            39% 35%);
}

@keyframes twinklingStars {
    0% {
        opacity: .5;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: .5;
    }
}

@keyframes bobbing {
    0% {
        transform: translateX(-50%) translateY(0);
    }

    50% {
        transform: translateX(-50%) translateY(-10px);
    }

    100% {
        transform: translateX(-50%) translateY(0);
    }
}

.star {
    pointer-events: none;
    animation: twinklingStars 2s infinite;
}

.scroll-icon {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    animation: bobbing 2s infinite;
}

@media only screen and (max-width: 767px) {
    .scroll-icon {
        display: none;
    }
}

.fa-arrow-down {
    color: #ecb98c;
    font-size: 4rem !important;
}

@keyframes bobbing {
    0% {
        transform: translateX(-50%) translateY(0);
    }

    50% {
        transform: translateX(-50%) translateY(-10px);
    }

    100% {
        transform: translateX(-50%) translateY(0);
    }
}


/*Code Div*/

.code-box {
    width: 100%;
    height: 100%;
    border-left: solid white .5px;
    border-top: solid white .5px;
    border-bottom: solid white .5px;
    margin-top: 30%;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    background-color: #1f1d22;
    position: relative;
    right: -100%;

}


@media only screen and (max-width: 768px) {
    .code-box {
        margin-top: 0;
    }
}

.circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
    margin-top: 15px;
}

.circle-red {
    background-color: red;
    margin-left: 15px;
    margin-right: 5px;
}
.circle-yellow {
    background-color: rgb(209, 173, 41);
}

.circle-green {
    background-color: green;
    margin-left: 5px;
}

.code-container {
    margin: 5% 2%;
    display: flex;
}

@media only screen and (max-width: 768px) {
    .code-container {
        font-size: .9rem;
    }
}


.code-out {
    color: #c0c0c0;
}

code {
    color: #c0c0c0  !important;
}

.code-line {
    color: #8b8b8b;
    padding: 0 20px;
}

.blue {
    color: #83c0d1;
}
.pink {
    color: #ecb98c;
}

.code-resume-link {
    color: #0bc2ac;
    text-decoration: underline;
    text-decoration-color: red;
    text-decoration-style: wavy;
    font-weight: medium;
    font-size: 1rem;
}

.code-resume-link:hover {
    text-decoration-color: red;
    text-decoration-style: double;
    color: white;
}

.slide-in {
    animation: slide-in 1s forwards;
}

@keyframes slide-in {
    0% {
        right: -100%;
    }
    100% {
        right: 0;
    }
}


/* Experience -- Section 2 */

.download {
    color: #fafafd;
}

.download:hover {
    color: #ecb98c !important;
    text-decoration: none;
}

.position {
    color: #0bc2ac;
    font-weight: 700;
}

.download:hover .fa {
    transform: translateY(2px);
}

#section2, #section4 {
    padding: 70px 20px 100px 20px;
}

#section2 .tab-content {
    border-radius: 25px;
    box-shadow: 2px 2px 11px -3px rgba(0, 0, 0, .2);
    background: #1f1f24;
    border:1px solid rgb(41 41 54);
}

@media only screen and (min-width: 992px) {
    #section2 .tab-content {
        margin: 50px -15px 0 -15px;
    }
}

.tab-content .date {
    color: #ecb98c;
    text-align: center;
    margin-bottom: 0;
}

.tab-content .date-mobile {
    color: #fafafd;
    text-align: left;
    font-size: 14px;
    margin-bottom: 0;
}

.tab-content .company {
    color: #fafafd;
    text-decoration: underline;
}

.tab-content .company:hover {
    color: #ecb98c;
}

.tab-pane {
    padding: 20px 0;
}

@media only screen and (min-width: 576px) {
   .tab-pane {
        padding: 20px;
    }
}

@media only screen and (max-width: 576px) {
    .tab-pane .container {
        padding-left: 0;
    }
}
@media only screen and (min-width: 576px) and (max-width: 768px) {
    .tab-pane .container {
        max-width: 600px;
    }
}

.technologies {
    border: #d45858 solid 2px;
    margin: auto;
}

.technologies img {
    width: 95px;
    height: auto;
    padding: 10px 15px;
}

.small-padding {
    padding: 10px 20px !important;
}

/* Projects -- Section 3 */

#section3 {
    padding: 100px 0 0 0;
}

.fa-external-link {
    margin-left: 7px;
    color: #fafafd;
}

.black.fa-external-link {
    margin-left: 1px;
    color: #212529;
}

.project {
    margin-bottom: 50px;
}

@media only screen and (min-width: 992px) {
    .project {
        margin-bottom: 80px;
    }
}

.description-box {
    border-radius: 20px;
    min-height: 350px;
    box-shadow: 2px 2px 11px -3px rgba(0, 0, 0, .2);
    background: #1f1f24;
    border:1px solid rgb(41 41 54);
}

@media only screen and (max-width: 992px) {
    .description-box {
        margin: auto;
        margin-top: 10px;
    }
}

.description {
    padding: 20px;
}

@media only screen and (min-width: 992px) {
    .description {
        padding: 40px;
    }
}

.description h6 {
    color: #0bc2ac;
}

.portfolio-image img {
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    height: auto;
    max-height: 300px;
    border-radius: 10px;
}

#item3 img {
    width: 100%;
}

.portfolio-image-box {
    cursor: pointer;
}

.no-animation {
    cursor: auto;
}

@media only screen and (min-width: 992px) {
    .portfolio-image-box {
        margin-left: -45px !important;
        z-index: 100;
    }
}

.portfolio-image {
    border-radius: 10px;
    position: relative;
    box-shadow: 0 0px 2px rgba(0, 0, 0, 0.2);
    background-color: white;
    transition: transform .2s;
}

/* @media only screen and (min-width: 992px) {
    .portfolio-image {
        width: 115%;
        }
} */

.no-animation {
    transition: none;
}

@media only screen and (max-width: 992px) {
    .portfolio-image {
        max-width: 500px;
        margin: auto;
    }
}

@media only screen and (min-width: 992px) {
    .portfolio-image:hover {
        transform: scale(1.05);
    }
}

.no-animation:hover {
    transform: none;
}

.portfolio-image:hover .image-overlay {
    opacity: 1;
}

.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 5px;
}

.read-more {
    color: #fafafd !important;
    font-size: 20px;
    font-weight: bold;
}

.read-more:hover {
    color: #fafafd !important;
}

.read-more-mobile a,
.read-more-mobile a:hover {
    color: #fafafd !important;
}

.languages {
    list-style-type: none;
    display: flex;
    padding-top: 17px;
    padding-left: 0;
}

@media only screen and (min-width: 992px){
    .languages {
        max-width: 70%;
    }
}

.languages li {
    margin: 4px;
    background-color: #ecb98c;
    color: #101018;
    padding: 1px 9px;
    border-radius: 7px;
}

.zoom {
    padding-bottom: 30px;
}

/* Contact -- Section 4 */ 

.fab {
    font-size: 35px;
    padding: 0 10px;
    color: white;
}

.fab:hover {
    color: #0bc2ac;
}

/*Footer */

.footer .container {
    padding-top: 20px;
    padding-bottom: 20px;
}
